{{> navbar}}

<div class="flex flex-col md:flex-row mb-8">
    <img class="w-full md:max-w-[300px] h-[200px] object-cover   rounded-md"
        src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        alt="">

    <div class="p-3">
        <span class="font-light mb-2">MIDC Baramati Pune</span>
        <h1 class="text-2xl font-bold">Hi I'm</h1>
        <h1 class="text-2xl font-bold mb-4">John Doe</h1>
        <div class="flex items-center gap-2 mb-2">
            <span class="font-bold text-lg">$ 1000</span>
            <small>/ month</small>
        </div>
    </div>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">About</h4>
    <p class="font-light leading-loose">It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
        will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).</p>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">Ammenities</h4>
    <div class="grid grid-cols-2 gap-4">
        <div class="flex items-center gap-2">
            <img src="/assets/check.png" class="w-5 h-5 object-contain" alt="">
            <span>AC cooling</span>
        </div>
        <div class="flex items-center gap-2">
            <img src="/assets/check.png" class="w-5 h-5 object-contain" alt="">
            <span>Heating</span>
        </div>
        <div class="flex items-center gap-2">
            <img src="/assets/check.png" class="w-5 h-5 object-contain" alt="">
            <span>Gated security</span>
        </div>
    </div>
</div>

<div class="border-b border-gray-200 pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">House Rules</h4>
    <p class="font-light leading-loose">It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout.</p>
</div>

<div class="pb-4 mb-8">
    <h4 class="text-xl font-bold mb-2">Contact Details</h4>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex items-center gap-4">
            <img src="/assets/mail.png" class="w-7 h-7 object-contain" alt="">
            <span>riteshkhore@gmail.com</span>
        </div>
        <div class="flex items-center gap-4">
            <img src="/assets/telephone.png" class="w-7 h-7 object-contain" alt="">
            <span>1452369874</span>
        </div>
    </div>
</div>