{{> navbar}}

<div class="flex items-center flex-col md:flex-row gap-4 justify-between mt-4">
    <a href="/room/create-room" class="w-full">
        <div class="relative rounded-md overflow-hidden w-full hover:shadow-lg">
            <img class="w-full object-cover" src="/assets/post_room.png" alt="">
            <div
                class="absolute left-0 right-0 bottom-0 top-0 bg-[rgba(0,0,0,0.2)] flex items-center justify-center hover:bg-transparent cursor-pointer transition-all">
                <h3 class="text-xl font-bold
             text-white">Post a room</h3>
            </div>
        </div>
    </a>


    <a href="/roommate/find-roommate" class="w-full">
        <div class="relative rounded-md overflow-hidden w-full hover:shadow-lg">
            <img class="w-full" src="/assets/find_roomate.png" alt="">
            <div
                class="absolute left-0 right-0 bottom-0 top-0 bg-[rgba(0,0,0,0.2)] flex items-center justify-center hover:bg-transparent cursor-pointer transition-all">
                <h3 class="text-xl font-bold
             text-white">Find roomate</h3>
            </div>
        </div>
    </a>
</div>

<div class="flex items-center mt-8">

    {{#if rooms}}
    <a class="border-b border-black pb-2 px-3 cursor-pointer" href="/">
        Rooms
    </a>
    {{^}}
    <a class="border-b border-gray-200 text-gray-400 pb-2 px-3 cursor-pointer" href="/">
        Rooms
    </a>
    {{/if}}

    {{#if rooms}}
    <a class="border-b border-gray-200 text-gray-400 pb-2 px-3 cursor-pointer" href="/roommates">
        Roommates
    </a>
    {{^}}
    <a class="border-b border-black pb-2 px-3 cursor-pointer" href="/roommates">
        Roommates
    </a>
    {{/if}}
</div>