<div class="min-h-screen flex items-center justify-center flex-col gap-2">
    <img class="w-12 h-12 object-contain"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDt2KOlwim-Z7PJnxQceDmRVjGwbDw62Z15g&usqp=CAU"
        alt="">
    <h1 class="text-2xl font-bold">
        Something went wrong at our side
    </h1>
    <p class="text-xl mt-1">We are unable to process your request right now, please try again letter</p>
</div>