<nav class="flex justify-between py-4 items-center">
    <div class="">
        <a href="/">
            <h1 class="text-xl font-bold text-primary">CoLive</h1>
        </a>
    </div>

    {{#if user}}
    <div class="">
        <img src="https://api.dicebear.com/6.x/big-ears-neutral/svg?seed={{user.id}}" alt=""
            class="w-12 h-12 rounded-full object-cover ">
    </div>
    {{/if}}

</nav>