<nav class="flex justify-between py-4">
    <div class="">
        <a href="/">
            <h1 class="text-xl font-bold text-primary">CoLive</h1>
        </a>
    </div>
    <div class="flex items-center border border-black rounded-full px-3 py-3">
        <img class="w-6 h-6 object-contain" src="/assets/search.png" alt="">
        <input class="ml-2 outline-none" placeholder="search for rooms" type="text">
    </div>
</nav>