{{> navbar}}

<div class="flex gap-8 mt-8 flex-col-reverse md:flex-row">

    <form class="w-full md:max-w-[450px]" action="/login" method="POST">
        <h1 class="text-xl font-bold mb-4">Welcome Back</h1>

        {{#if error}}
        <div class="mb-4 p-3 border border-red-500 rounded-md text-red-500">
            <small>{{error}}</small>
        </div>
        {{/if}}

        <div class="mb-4 flex flex-col">
            <label for="">Email address</label>
            <input required value="{{values.email}}" type="email" name="email" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2">
            {{#each errors}}
            {{#if email}}
            <small class="text-sm text-red-500">{{message}}</small>
            {{/if}}
            {{/each}}
        </div>


        <div class="mb-4 flex flex-col">
            <label for="">Password</label>
            <input required type="password" name="password" class="px-2 py-3 bg-gray-100 rounded-md
         outline-none mt-2">
            {{#each errors}}
            {{#if password}}
            <small class="text-sm text-red-500">{{message}}</small>
            {{/if}}
            {{/each}}
        </div>

        <button class="px-2 py-3 rounded-md bg-primary text-white w-full">
            Login
        </button>

        <div class="mt-4 flex items-center justify-center gap-1 flex-col sm:flex-row">
            <small>Don't have account yet?</small>
            <a class="text-primary font-semibold" href="/register">Create an account</a>
        </div>
    </form>

    <div class="flex items-center justify-center relative">

        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="" class="absolute w-12 h-12 rounded-full top-0 object-cover hidden md:block ">

        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
            alt="" class="absolute w-12 h-12 rounded-full bottom-0 left-20 object-cover hidden md:block ">

        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
            alt="" class="absolute w-12 h-12 rounded-full top-10 left-10 object-cover hidden md:block ">

        <img src="https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGF2YXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
            alt="" class="absolute w-12 h-12 rounded-full bottom-10 right-10 object-cover hidden md:block ">

        <h1
            class="text-2xl sm:text-3xl md:text-4xl text-center md:text-left font-bold w-full md:w-[75%] leading-relaxed z-50">
            Find your next
            roommate
            in your community</h1>
    </div>

</div>