{{> home_layout}}

<div class="mt-8 mb-4 flex flex-wrap gap-6">
    <a href="/roommate/4">
        <div
            class="flex flex-col w-full max-w-[300px] rounded-md overflow-hidden cursor-pointer hover:shadow-lg shadow-md">
            <img src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                alt="">

            <div class="p-3">
                <span class="font-light">MIDC Baramati Pune</span>
                <h1 class="text-xl font-bold">John Doe</h1>
                <div class="flex items-center gap-2 mb-2">
                    <span class="font-bold text-lg">$ 1000</span>
                    <small>/ month</small>
                </div>
            </div>
        </div>
    </a>

    <div class="flex flex-col w-full max-w-[300px] rounded-md overflow-hidden cursor-pointer hover:shadow-lg shadow-md">
        <img src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="">

        <div class="p-3">
            <span class="font-light">MIDC Baramati Pune</span>
            <h1 class="text-xl font-bold">John Doe</h1>
            <div class="flex items-center gap-2 mb-2">
                <span class="font-bold text-lg">$ 1000</span>
                <small>/ month</small>
            </div>
        </div>
    </div>

    <div class="flex flex-col w-full max-w-[300px] rounded-md overflow-hidden cursor-pointer hover:shadow-lg shadow-md">
        <img src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="">

        <div class="p-3">
            <span class="font-light">MIDC Baramati Pune</span>
            <h1 class="text-xl font-bold">John Doe</h1>
            <div class="flex items-center gap-2 mb-2">
                <span class="font-bold text-lg">$ 1000</span>
                <small>/ month</small>
            </div>
        </div>
    </div>
</div>