{{> home_layout}}

<div class="mt-8 flex gap-6 flex-col md:flex-row mb-4">
    <a href="/room/2">
        <div class="flex flex-col gap-4 shadow-md hover:shadow-lg rounded-md overflow-hidden cursor-pointer">
            <img class="w-full max-w-[400px]" src="/assets/post_room.png" alt="">

            <div class="flex flex-col p-3">
                <span class="font-light mb-2">MIDC Baramati Pune</span>
                <h1 class="text-xl font-bold mb-2">2BHK Appartment with parking</h1>
                <div class="flex items-center gap-2 mb-2">
                    <span class="font-bold text-lg">$ 1000</span>
                    <small>/ month</small>
                </div>
                <div class="flex gap-2">
                    <img class="w-11 h-11 object-cover rounded-full" src="/assets/post_room.png" alt="">
                    <div class="flex flex-col">
                        <span class="font-semibold">John Doe</span>
                        <small class="font-light">12hr ago</small>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="flex flex-col gap-4 shadow-md hover:shadow-lg rounded-md overflow-hidden cursor-pointer">
        <img class="w-full max-w-[400px]" src="/assets/post_room.png" alt="">

        <div class="flex flex-col p-3">
            <span class="font-light mb-2">MIDC Baramati Pune</span>
            <h1 class="text-xl font-bold mb-2">2BHK Appartment with parking</h1>
            <div class="flex items-center gap-2 mb-2">
                <span class="font-bold text-lg">$ 1000</span>
                <small>/ month</small>
            </div>
            <div class="flex gap-2">
                <img class="w-11 h-11 object-cover rounded-full" src="/assets/post_room.png" alt="">
                <div class="flex flex-col">
                    <span class="font-semibold">John Doe</span>
                    <small class="font-light">12hr ago</small>
                </div>
            </div>
        </div>
    </div>

</div>